<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lead411chromeex.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lead411chromeex.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Lead411ChromeEx</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Lead411ChromeEx</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AzureWebJobsStorage" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=leadchromestorage;AccountKey=4ZIiyQZo5VVeK3JfU2nYSQdY5hTQZCJc1jCdfmbimWfmU3Wy+FVlNYZ4sY2EB7cOn+FE2NA4U3fCD2zpeObrew==;EndpointSuffix=core.windows.net" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=leadchromestorage;AccountKey=4ZIiyQZo5VVeK3JfU2nYSQdY5hTQZCJc1jCdfmbimWfmU3Wy+FVlNYZ4sY2EB7cOn+FE2NA4U3fCD2zpeObrew==;EndpointSuffix=core.windows.net" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AzureDBContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:lead411chromeex.database.windows.net,1433;Initial Catalog=Lead411ChromeEx;User ID=lead411@lead411chromeex.database.windows.net;Password=Chrome@123;Connect Timeout=36000" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureDBContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:lead411chromeex.database.windows.net,1433;Initial Catalog=Lead411ChromeEx;User Id=lead411@lead411chromeex.database.windows.net;Password=Chrome@123;MultipleActiveResultSets=True; Connection Timeout=36000;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureDBContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureWebJobsStorage-Web.config Connection String" />
  </ItemGroup>
</Project>